# Dependencies
/vendor
/node_modules

# Cache & Logs
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
# Git & Build Artifacts
.git
.gitignore
.env
*.zip
*.tar.gz
*.log

# IDE/Editor files
.vscode
.idea
*.swp
*.swo

# System
.DS_Store
Thumbs.db
