
/vendor
/node_modules
/.idea
/.vscode
.env
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/public/storage
/public/docs/*
/coverage
